*::first-letter {
    text-transform: uppercase;
}
*{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:#fff;
}
.header-banner {
    background-image: url(../img/header-banner.jpg);
    width: 1440px;
    height: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-banner-logo-link {
    margin-top: 40px;
    margin-right: 1px;
}
.header-banner-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Abhaya Libre', serif;
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 5.71px;
    margin-top: 225px;
    margin-left: 13px;
    height: 1px;
}
.header-banner-description {
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    margin-top: -55px;
}
.header-banner-link-scroll {
    height: 1px;
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    margin-top: 105px;
    margin-left: 4px;
}
.header-banner-link-scroll:hover {
    color:#00a4e5;
}
